[submodule "ackermann_msgs"]
	path = vendor/ackermann_msgs
	url = https://github.com/ros-drivers/ackermann_msgs.git
	branch = ros2
[submodule "ds4_driver"]
	path = vendor/ds4_driver
	url = https://github.com/naoki-mizuno/ds4_driver.git
	branch = foxy-devel
[submodule "teleop_tools"]
	path = vendor/teleop_tools
	url = https://github.com/ros-teleop/teleop_tools.git
	branch = foxy-devel
[submodule "topic_tools"]
	path = vendor/topic_tools
	url = https://github.com/ros-tooling/topic_tools.git
	branch = main
[submodule "transport_drivers"]
	path = vendor/transport_drivers
	url = https://github.com/ros-drivers/transport_drivers.git
[submodule "udp_msgs"]
	path = vendor/udp_msgs
	url = https://github.com/flynneva/udp_msgs.git
[submodule "vesc"]
	path = vendor/vesc
	url = http://github.com/f1tenth/vesc.git
	branch = ros2
[submodule "opencv_cam"]
	path = vendor/opencv_cam
	url = https://github.com/clydemcqueen/opencv_cam.git
[submodule "vendor/depthai-ros"]
	path = vendor/depthai-ros
	url = https://github.com/luxonis/depthai-ros.git
[submodule "vendor/xacro"]
	path = vendor/xacro
	url = https://github.com/ros/xacro.git
	branch = ros2
[submodule "vendor/vision_msgs"]
	path = vendor/vision_msgs
	url = https://github.com/ros-perception/vision_msgs.git
[submodule "vendor/vision_opencv"]
	path = vendor/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "vendor/ros2_shared"]
	path = vendor/ros2_shared
	url = https://github.com/ptrmu/ros2_shared.git
[submodule "vendor/rviz"]
	path = vendor/rviz
	url = https://github.com/ros2/rviz.git
[submodule "vendor/point_cloud_transport"]
	path = vendor/point_cloud_transport
	url = https://github.com/ros-perception/point_cloud_transport.git
[submodule "vendor/gz_math6_vendor"]
	path = vendor/gz_math6_vendor
	url = https://github.com/gazebo-release/gz_math6_vendor.git
[submodule "vendor/diagnostics"]
	path = vendor/diagnostics
	url = https://github.com/ros/diagnostics.git
[submodule "vendor/gz_cmake2_vendor"]
	path = vendor/gz_cmake2_vendor
	url = https://github.com/gazebo-release/gz_cmake2_vendor.git
[submodule "vendor/control_msgs"]
	path = vendor/control_msgs
	url = https://github.com/ros-controls/control_msgs.git
[submodule "vendor/imu_tools"]
	path = vendor/imu_tools
	url = https://github.com/CCNYRoboticsLab/imu_tools.git
[submodule "vendor/schemas"]
	path = vendor/schemas
	url = https://github.com/foxglove/schemas.git
